.messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}

#chatRoom {
    background-image: url("../chatRoomBg.jpg");
    background-size: cover;
  background-position: center;
  
  background-image: linear-gradient(to bottom right);
}